@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  transition: all 0.3s ease-in-out;
}
html {
  font-family: "Nunito", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
*,
button {
  cursor: url("./assets//images/direction-arrow.png"), auto;
}
input {
  background: transparent;
  outline: none;
}

.track-manage,
.tracks {
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scroll-margin: none;
  scrollbar-color: #f0ebd8 transparent;
  scroll-margin-left: 0;
}
